<form method = 'post' action = '/operator'>
<font color="red">Operator:</font>
<select name = "oper">
  <option value="add">add</option>
  <option value="sub">subtract</option>
  <option value="multi">multiply</option>
  <option value="div">divide</option>
</select>
  <input type = "hidden" name = "num1" value = <%= number1%>>
  <input type = "hidden" name = "num2" value = <%= number2%>>
  <input type="submit" value="Submit">
</form>